<div class="content-col themed createServer">
    <h1>Create Room</h1>
    <div class="inputBox">
        <span>Room name:</span>
        <input class="themed" type="text" name="roomName" placeholder="My Scrum Poker Room"/>
        <div class="invalidHint">
            <p>Room name cannot be empty.</p>
        </div>
    </div>
    <div class="inputBox">
        <span>Cards:</span>
        <div id="cardHolder"></div>
    </div>
    <div class="inputBox" for="password"></div>
    <div class="inputBox">
        <button class="themed"><span class="material-symbols-outlined">send</span></button>
    </div>
</div>
