<div id="viewClient">
    <h1 class="themed"><span id="roomId">0000</span> - <span id="roomName">Room name</span></h1>
    <div class="content">
        <div class="content-col themed issues">
            <h2 id="issue">No issue selected yet</h2>
            <div id="cardHolder"></div>
        </div>
        <div class="content-col themed userList">
            <h2>Users:</h2>
            <ul></ul>
        </div>
        <div class="content-row themed userChoices">
            <div id="userHolder"></div>
        </div>
    </div>
</div>
