.content {
  display: flex;
  flex-flow: row wrap;
}

.content-col {
  background-color: var(--bg-color-up1);
  color: var(--text-color);
  padding: 0.5em 1em;
  margin: 1em;
  flex: 1 0 auto;
  box-shadow: 0 0 1em -4px var(--shadow-color);
  border-radius: 8px;
}
