.content {
  display: flex;
  flex-flow: row wrap;
}

.content-col {
  background-color: var(--bg-color-up1);
  color: var(--text-color);
  padding: 0.5em 1em;
  margin: 1em;
  flex: 1 0 auto;
  box-shadow: 0 0 1em -4px var(--shadow-color);
  border-radius: 8px;
}

.inputBox {
  margin-bottom: 1.5em;
  max-width: calc(100vw - 4em);
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;

  .invalidHint {
    display: none;
    line-height: 0;
    p {
      margin: 0;
      transform: translateY(1em);
    }
  }
  &:has([invalid]) {
    color: var(--error-text-color);
    input {
      color: var(--error-text-color);
      border-color: var(--error-text-color);
    }
    .invalidHint {
      display: inline-block;
    }
  }

  span, input {
    display: block;
  }
  span {
    margin: .75em 0 .25em 2px;
    font-size: 1.5em;
    &.hint {
      font-size: 1em;
      display: inline;
      text-decoration: underline dotted var(--text-color) 2px;
    }
  }

  input {
    font-size: 1em;
    background-color: var(--bg-color-up2);
    color: var(--text-color);
    outline: none;
    border: 1px solid #888; /* TODO: Find better solution for this with multiple styles */
    padding: 0.5em;
    border-radius: 6px;
    flex: 0 1 auto;
  }

  button {
    width: min-content;
    font-size: 1.25em;
    padding: .5em .75em;
    border-radius: 6px;
    border: 1px outset var(--bg-color-up2);
    background-color: var(--bg-color-up2);
    color: var(--text-color);
    cursor: pointer;
    &:hover {
      transition-duration: 0.05s;
    }
    &:active {
      border: 1px inset var(--bg-color-up1);
      background-color: var(--bg-color-up1);
      span {
        transform: translate(1px, 1px);
      }
    }
    span {
      margin: 0;
    }
  }
}
