.passwordInput {
  display: flex;

  input {
    flex: 1 1 auto;
  }

  .passwordShowBtn {
    width: 0;
    height: 0;
    flex: 0 0 auto;
    align-self: end;
    display: none;

    .innerBtn {
      width: min-content;
      transform: translate(calc(-100% - .5em), -200%);
      cursor: pointer;
    }
  }
}