[data-theme="dark"] {
  /* body colors */
  --bg-color: #202020;
  --bg-color-up1: #282828;
  --bg-color-up2: #383838;
  --text-color: #eee;
  --shadow-color: #63337e;

  /* header colors */
  --header-bg-color: #63337e;
  --header-text-color: #fff;

  /* status colors */
  --error-color: #a32;
  --error-text-color: #d21;
}
