[data-theme="light"] {
  /* body colors */
  --bg-color: #e8e8e8;
  --bg-color-up1: #f0f0f0;
  --bg-color-up2: #fff;
  --text-color: #222;
  --shadow-color: #63337e;

  /* header colors */
  --header-bg-color: #cb9be8;
  --header-text-color: #000;
}
