body {
  margin: 0;
  background-color: var(--bg-color);
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;


  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.disable-transitions, .disable-transitions * {
  transition: none !important;
}
